body {
	background-color: #d2d2d2;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: #fff;
}

a {
	text-decoration: none;
	transition: all .2s ease;
}

a:hover {
	text-decoration: none;
}

h2 {
	font-weight: 600;
	font-size: 60px;
	margin-top: 60px;
}

button {
	box-sizing: border-box;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background-color: #d2d2d2;
	color: #fe6464;
	border: none;
	font-weight: bold;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

button:hover {
	cursor: pointer;
	box-shadow: none;
	background-color: #9e9e9e;
	color: #fff;
}

/****** НАЧАЛО ПЕРВОЙ СЕКЦИИ ******/

.s1 {
	width: 100%;
	height: 700px;
	background-image: url(../i/bg-s1.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.s1 .nav {
	min-height: 80px;
}

h1.logo {
	margin-top: 25px;
}

h1.logo a {
	font-family: 'Teko', sans-serif;
	font-weight: 600;
	font-size: 48px;
	color: #fff;
}

h1.logo a span {
	color: #fe6464;
}

.s1 .nav ul {
	float: right;
	margin-top: 30px;
}

.s1 .nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 25px;
}

.s1 .nav ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.s1 .nav ul li a:hover {
	color: #fe6464;
}

.description {
	color: #d2d2d2;
}

.description p {
	margin-top: 45px;
}

.description button {
	margin-top: 30px;
}

/****** КОНЕЦ ПЕРВОЙ СЕКЦИИ ******/

/****** НАЧАЛО ВТОРОЙ СЕКЦИИ ******/

.s2 {
	margin-top: -40px;
}

.icon {
	width: 100%;
	height: 400px;
	background-color: #d2d2d2;
	border: 3px solid #fff;
	box-sizing: border-box;
	color: #333333;
	font-size: 18px;
	text-align: center;
	padding: 15px;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.35);
	margin: 0 auto;
}

.img-icon {
	width: 128px;
	height: 128px;
	background-image: url(../i/img-icon.png);
	background-repeat: no-repeat;
	margin: 40px auto;
}

.icon-1 {
	background-position: 0 0;
}

.icon-2 {
	background-position: -128px 0;
}

.icon-3 {
	background-position: -256px 0;
}

.icon-4 {
	background-position: -384px 0;
}

.icon h3 {
	font-size: 30px;
	font-weight: bold;
}

/****** КОНЕЦ ВТОРОЙ СЕКЦИИ ******/

/****** НАЧАЛО ТРЕТЬЕЙ СЕКЦИИ ******/

.s3 {
	color: #D2D2D2;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
	background-image: url(../i/bg-s3.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	line-height: 1.8;
	text-align: right;
	margin-top: -40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.s3 p {
	margin-top: 40px;
	width: 85%;
	float: right;
}

/****** КОНЕЦ ТРЕТЬЕЙ СЕКЦИИ ******/

/****** НАЧАЛО ЧЕТВЕРТОЙ СЕКЦИИ ******/

.s4 {
	min-height: 460px;
	color: #333333;
	line-height: 1;
}

.s4 button {
	margin-top: 10px;
}

.s4 p span {
	font-weight: bold;
}

.s4 .col-lg-6 {
	padding-top: 40px;
}

.s4 img {
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
	margin: 0 auto;
	display: block;
}

.price {
	color: #fe6464;
}

/****** КОНЕЦ ЧЕТВЕРТОЙ СЕКЦИИ ******/

/****** НАЧАЛО ПЯТОЙ СЕКЦИИ ******/

.s5 {
	min-height: 640px;
	width: 100%;
	background-image: url(../i/bg-s5.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.s5 h2 {
	text-align: center;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 60px;
}

.s5 h3 {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.7;
}

.icon-s5 {
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

.icon-s5-img {
	width: 120px;
	height: 120px;
	background-color: rgba(255, 255, 255, 0);
	background-image: url(../i/img-icon-s5.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	border-radius: 60px;
	border: 4px solid #fff;
	margin-bottom: 20px;
}

.is51 {
	background-position: -4px -4px;
}

.is52 {
	background-position: -122px -4px;
}

.is53 {
	background-position: -243px -4px;
}

.is54 {
	background-position: -365px -4px;
}

.warrity h2 {
	text-align: left;
	font-size: 36px;
	margin-top: 40px;
	margin-bottom: 20px;
}

/****** КОНЕЦ ПЯТОЙ СЕКЦИИ ******/

/****** НАЧАЛО ШЕСТОЙ СЕКЦИИ ******/

.s6 {
	width: 100%;
	min-height: 570px;
	color: #333333;
}

.s6 h2 {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.s6 .carousel {
	width: 100%;
	min-height: 500px;
}

.s6 .carousel .img-fluid {
	border-radius: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}

.s6 .carousel-caption {
	position: relative;
	margin: 0 auto;
	right: 0;
	bottom: 0;
	left: 0;
	width: 70%;
	margin-top: 40px;
}

.s6 .carousel-caption p {
	color: #333333;
	font-size: 24px;
}

.carousel-control-prev-icon {
	background-image: url(../i/left.png);
	width: 43px;
	height: 80px;
}

.carousel-control-next-icon {
	background-image: url(../i/right.png);
	width: 43px;
	height: 80px;
}

/****** КОНЕЦ ШЕСТОЙ СЕКЦИИ ******/

/****** НАЧАЛО СЕДЬМОЙ СЕКЦИИ ******/

.s7 {
	width: 100%;
	height: 430px;
	background-color: #333333;
}

.s7 h2 {
	width: 100%;
	z-index: 20;
}

.s7 .row {
	position: relative;
}

.img-s7 {
	width: 256px;
	height: 208px;
	background-image: url(../i/dilevery.png);
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 10;
}

.s7 p {
	z-index: 20;
	width: 70%;
	margin-top: 50px;
}

p.descr-s7 {
	font-size: 18px;
	margin-top: 20px;
}

/****** КОНЕЦ СЕДЬМОЙ СЕКЦИИ ******/

/****** НАЧАЛО ФУТЕРА ******/

footer {
	width: 100%;
	height: 100px;
	background-color: #4d4d4d;
	font-size: 18px;
}

footer .row {
	padding-top: 40px;
}

footer .col-lg-3 {
	text-align: right;
}

/****** КОНЕЦ ФУТЕРА ******/

/****** АДАПТИВ ******/

@media(min-width:0) and (max-width:320px) {
	.s1 {
		height: 500px;
	}
	.s1 .nav {
		margin-bottom: 5px;
	}
	.s1 .logo {
		text-align: center;
		display: block;
	}
	h1.logo {
		margin-top: 10px;
	}
	h1.logo a {
		font-size: 40px;
	}
	.s1 .nav ul {
		margin-top: 5px;
		padding: 0;
		text-align: center;
	}
	.s1 .nav ul li {
		margin-left: 1px;
		font-size: 18px;
		line-height: 1;
	}
	.description h2,
	.s3 h2,
	.s5 h2,
	.s6 h2,
	.s7 h2 {
		font-size: 36px;
		margin-top: 5px;
		text-align: center;
	}
	.description p,
	.s3 p,
	.s5 p {
		font-size: 18px;
		margin-top: 5px;
		text-align: center;
	}
	.description button,
	.s4 button {
		margin: 0 auto;
		display: block;
	}
	.s2 {
		margin-top: -40px;
	}
	.icon {
		width: 100%;
		height: 370px;
		margin-top: 20px;
	}
	.img-icon {
		margin-top: 20px;
	}
	.s3 {
		margin-top: -20px;
		height: 570px;
	}
	.s3 p {
		line-height: 1.2;
		float: none;
		width: 100%;
	}
	.s4 {
		height: 590px;
	}
	.s4 img {
		width: 100%;
	}
	.s4 p {
		font-size: 18px;
	}
	.s4 .col-lg-6 {
		padding-top: 20px;
	}
	.s5 {
		background-size: cover;
	}
	.s5 h2 {
		margin-bottom: 20px;
		font-size: 28px;
	}
	.s5 h3 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
	}
	.icon-s5 {
		margin-bottom: 20px;
	}
	.icon-s5-img {
		margin-bottom: 10px;
	}
	.s6 .carousel .img-fluid {
		margin-top: 20px;
	}
	.s6 .carousel-caption {
		margin-top: 10px;
	}
	.s6 .carousel-caption p {
		font-size: 18px;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		width: 20px;
		height: 38px;
	}
	.s7 {
		height: 410px;
	}
	.s7 .row {
		margin: 0 15px;
	}
	.s7 p {
		width: 100%;
		margin-top: 20px;
		font-size: 18px;
		margin-bottom: 0;
	}
	p.descr-s7 {
		margin-top: 10px;
		font-size: 15px;
	}
	.img-s7 {
		display: none;
	}
	footer {
		font-size: 16px;
	}
	footer .row {
		padding-top: 20px;
	}
	footer .col-lg-3 {
		text-align: left;
	}
}

@media(min-width:321px) and  (max-width:480px) {
	.s1 {
		height: 500px;
	}
	.s1 .nav {
		margin-bottom: 5px;
	}
	.s1 .logo {
		text-align: center;
		display: block;
	}
	h1.logo {
		margin-top: 10px;
	}
	h1.logo a {
		font-size: 40px;
	}
	.s1 .nav ul {
		margin-top: 5px;
		padding: 0;
		text-align: center;
		float: none;
	}
	.s1 .nav ul li {
		margin-left: 5px;
		font-size: 18px;
		line-height: 1;
	}
	.description h2,
	.s3 h2,
	.s5 h2,
	.s6 h2,
	.s7 h2 {
		font-size: 36px;
		margin-top: 5px;
		text-align: center;
	}
	.description p,
	.s3 p,
	.s5 p {
		font-size: 18px;
		margin-top: 5px;
		text-align: center;
	}
	.description button,
	.s4 button {
		margin: 0 auto;
		display: block;
	}
	.s2 {
		margin-top: -40px;
	}
	.icon {
		width: 300px;
		height: 370px;
		margin-top: 20px;
	}
	.img-icon {
		margin-top: 20px;
	}
	.s3 {
		margin-top: -20px;
		height: 450px;
	}
	.s3 p {
		line-height: 1.2;
		float: none;
		width: 100%;
	}
	.s4 {
		min-height: 590px;
	}
	.s4 img {
		width: 100%;
	}
	.s4 p {
		font-size: 18px;
	}
	.s4 .col-lg-6 {
		padding-top: 20px;
	}
	.s5 {
		background-size: cover;
	}
	.s5 h2 {
		margin-bottom: 20px;
		font-size: 28px;
	}
	.s5 h3 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
	}
	.icon-s5 {
		margin-bottom: 20px;
	}
	.icon-s5-img {
		margin-bottom: 10px;
	}
	.s6 .carousel .img-fluid {
		margin-top: 20px;
	}
	.s6 .carousel-caption {
		margin-top: 10px;
	}
	.s6 .carousel-caption p {
		font-size: 18px;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		width: 20px;
		height: 38px;
	}
	.s7 {
		height: 340px;
	}
	.s7 .row {
		margin: 0 15px;
	}
	.s7 p {
		width: 100%;
		margin-top: 20px;
		font-size: 18px;
		margin-bottom: 0;
	}
	p.descr-s7 {
		margin-top: 10px;
		font-size: 15px;
	}
	.img-s7 {
		display: none;
	}
	footer {
		font-size: 16px;
	}
	footer .row {
		padding-top: 20px;
	}
	footer .col-lg-3 {
		text-align: left;
	}
	.s4 button {
		margin-bottom: 20px;
	}
}

@media(min-width:481px) and  (max-width:768px) {
	.s1 {
		height: 500px;
	}
	.s1 .nav {
		margin-bottom: 5px;
	}
	.s1 .logo {
		text-align: center;
		display: block;
	}
	.s1 .nav ul {
		margin-top: 5px;
		padding: 0;
		text-align: center;
		float: none;
	}
	.s1 .nav ul li {
		margin-left: 5px;
		line-height: 1;
	}
	.description h2,
	.s3 h2,
	.s5 h2,
	.s6 h2,
	.s7 h2 {
		font-size: 36px;
		margin-top: 5px;
		text-align: center;
	}
	.description p,
	.s3 p,
	.s5 p {
		font-size: 18px;
		margin-top: 5px;
		text-align: center;
	}
	.description button,
	.s4 button {
		margin: 0 auto;
		display: block;
	}
	.s2 {
		margin-top: -40px;
	}
	.icon {
		width: 300px;
		height: 370px;
		margin-top: 20px;
	}
	.img-icon {
		margin-top: 20px;
	}
	.s3 {
		margin-top: -20px;
		height: 450px;
	}
	.s3 p {
		line-height: 1.2;
		float: none;
		width: 100%;
	}
	.s4 {
		min-height: 590px;
	}
	.s4 img {
		width: 100%;
	}
	.s4 p {
		font-size: 18px;
	}
	.s4 .col-lg-6 {
		padding-top: 20px;
	}
	.s5 {
		background-size: cover;
	}
	.s5 h2 {
		margin-bottom: 20px;
		font-size: 28px;
	}
	.s5 h3 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
	}
	.icon-s5 {
		margin-bottom: 20px;
	}
	.icon-s5-img {
		margin-bottom: 10px;
	}
	.s6 .carousel .img-fluid {
		margin-top: 20px;
	}
	.s6 .carousel-caption {
		margin-top: 10px;
	}
	.s6 .carousel-caption p {
		font-size: 18px;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		width: 20px;
		height: 38px;
	}
	.s7 {
		height: 340px;
	}
	.s7 .row {
		margin: 0 15px;
	}
	.s7 p {
		width: 100%;
		margin-top: 20px;
		font-size: 18px;
		margin-bottom: 0;
	}
	p.descr-s7 {
		margin-top: 10px;
		font-size: 15px;
	}
	.img-s7 {
		display: none;
	}
	footer {
		font-size: 16px;
	}
	footer .row {
		padding-top: 20px;
	}
	footer .col-lg-3 {
		text-align: left;
	}
	.s4 button {
		margin-bottom: 20px;
	}
}
@media(min-width:769px) and  (max-width:992px) {
	.s2 {
		margin-top: -70px;
	}
	.icon {
		margin-top: 30px;
	}
	.s3 {
		height: 720px;
		background-size: cover;
	}
	.s4 .row {
		width: 100%;
	}
	.s4 img {
		width: 100%;
	}
	.s4 .col-lg-6 {
		padding-top: 0;
	}
	.s5 {
		background-size: cover;
	}
	.icon-s5 {
		margin-top: 20px;
	}
	.s5 h2 {
		margin-bottom: 20px;
	}
	.s7 {
		height: 530px;
	}
	.s7 p {
		width: 80%;
	}
}

@media(min-width:993px) and  (max-width:1200px) {
	.s3 {
		height: 640px;
		background-size: cover;
	}
	.s4 .row {
		width: 100%;
	}
	.s4 img {
		width: 100%;
	}
	.s4 .col-lg-6 {
		padding-top: 0;
	}
	.s4 {
		padding-bottom: 40px;
	}
}